@import "../../common/styles/colors";

.svg_icons-about {
  transform: scale(1.2);
  margin-left: 10px !important;
}

.about-toys {
  height: 375px;
  width: 100%;
  object-fit: cover;
}

.about-doctor {
  height: 660px;
  width: 450px;
  margin-left: 15px;
  object-fit: cover;
  float: right;
  box-shadow: 1px 1px 14px 1px black;
}

.about-icon {
  transform: translateY(4.5px);
  color: rgba($color: $primary-purple, $alpha: 0.5);
}

.about-gas {
  height: 300px;
  float: right;
}
