@import "../../common/styles/colors";

.svg_icons-about {
  transform: scale(1.5);
  margin-left: 10px !important;
}

.about-toys {
  height: 375px;
  width: 50%;
  object-fit: cover;
  float: left;
  margin-right: 15px;
  box-shadow: 1px 1px 14px 1px black;
}
