@import "../../common/styles/colors";

.header {
  display: flex;
  align-items: center;
}

.general {
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgba($color: $secondary-blue, $alpha: 0.2);
  padding: 10px;
}

.list-item {
  display: flex !important;
  justify-content: center !important;
  width: 95% !important;
  border: 1px solid black;
  padding: 20px !important;
  margin: 10px;
  border-radius: 5px;
  font-weight: 700;
  min-width: 100px;
  border-left: 5px solid $primary-turquoise;
  transition-property: transform;
  transition-duration: 1s;
  transition-delay: 0s;
}

.our-training__img {
  height: 500px;
  width: 50%;
  object-fit: cover;
  float: right;
  box-shadow: 0.5px 0.5px 10px 0.5px black;
}

.list-item:hover {
  transform: translate(0px, -5px);
}

.preop__img {
  height: 255px;
  width: 400px;
  object-fit: cover;
  border-radius: 10px;

  &_hide {
    display: block;
  }
}

.section-hr {
  width: 10%;
  border-top: 1px solid rgb(241, 241, 241);
  text-align: center;
  margin: 25px auto;
}

.general-icon {
  transform: translateY(4.5px);
  color: rgba($color: $primary-purple, $alpha: 0.5);
}

@media only screen and (max-width: 895px) {
  .preop__img_hide {
    display: none;
  }
}
