$primary-turquoise: rgb(74, 94, 90);
$secondary-turquoise: rgb(132, 169, 166);
$tertiary-turquoise: rgb(216, 224, 223);

$primary-blue: rgb(57, 77, 100);
$secondary-blue: rgb(221, 239, 237);

$primary-purple: rgb(97, 77, 104);
