.types-iv {
  height: 350px;
  width: 60%;
  margin-left: 15px;
  object-fit: cover;
  float: right;
  box-shadow: 1px 1px 14px 1px black;
}

@media only screen and (max-width: 715px) {
  .title {
    margin-bottom: 10px;
  }
}
