@import "../../common/styles/colors";

.types-iv {
  height: 350px;
  margin-left: 15px;
  object-fit: cover;
  float: right;
}

.types-icon {
  transform: translateY(4.5px);
  color: rgba($color: $primary-purple, $alpha: 0.5);
}

@media only screen and (max-width: 715px) {
  .title {
    margin-bottom: 10px;
  }
}
