@import "../../common/styles/colors";

.footer {
  background-color: $primary-turquoise;
  color: white;
  padding: 60px;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

.address {
  display: flex;
  gap: 10px;
  align-items: center;
}
