@import "../../common/styles/colors";

.footer {
  background-color: $primary-turquoise;
  color: white;
  padding: 40px;
  position: sticky;
  top: 100%;
}

.address {
  display: flex;
  gap: 10px;
  align-items: center;
}
