@import "../../common/styles/colors";

.banner {
  background-color: $tertiary-turquoise;
  width: 100%;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  animation: 1s in-out forwards;
}

.banner-title {
  font-family: "Instrument Serif", serif !important;
  font-size: 56px !important;
}

@keyframes in-out {
  0% {
    transform: translateX(-100%);
  }
  100% {
    /*to stay a while full width*/
    transform: translateX(0);
  }
}
